body, html {
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
	overflow-x:hidden;
	
}
html {
  
}
:root{
  --navBg:#121212;
 --texthover:rgba(255,255,255,0.8);
}

 
 















.navbar{
	border:none;
    border-radius:0;
	padding-left:20px;
	padding-right:20px;
	z-index:100000;
	padding-top:3px;
	padding-bottom:3px;
	background: var(--navBg);
	margin: 0px;
	
}
.navbar .navbar-brand {
	margin-top:-10px;
	
}

.navbar .navbar-brand img{
	width: 9rem;
}

.navbar .navbar-nav{
	margin-top:1px;
	margin-bottom:-5px;
}
.navbar .navbar-left li{
	margin-left:3px;
}
.navbar .navbar-left li a{
	
}

.navbar .navbar-left li a{
	color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 14px;
	font-weight:bold;
	background:transparent;
    text-decoration: none;
	padding: 15px 10px;
	transition: all 0.3s ease;
}

.navbar .navbar-left li a:hover{
	color:var(--texthover);
	background:transparent;
}

/*..........................  */


.navbar .acoountbusiness{
	margin-right: 18px;
}
.tabbable-line {
 padding-left:0px;
 padding-right:0px;
 border:1px solid rgb(95, 95, 95);
 margin:0 auto;
 margin-top:12px;
 border-radius:5px;
  position:relative;
 
}
.tabbable-line:after{
	content: "";
	position: absolute;
	width: 1px;
	height: 90%;
	background: rgb(41, 40, 40);
	right: -15px;
	top: 2px;
}

.tabbable-line > .nav-tabs {
  border: none;
  border: none;
  background:#3e3e3e;
  padding-bottom:0px;
  overflow: hidden;
  padding-top:0px;
  border-radius:5px;
}
.tabbable-line > .nav-tabs > li{
	display:flex;
	margin-left:0px;
    display:inline-block;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0; 
  font-size:12px;
  color: rgb(255, 253, 253);
  border:none;
  height:40px;
  line-height: 22px;
  border-radius:0px;
  margin-top:-15px;
}

.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border:none;
  transition:0.2s;
  color: black;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: none;
  background: transparent !important;
  color:rgba(205, 204, 204, 0.999);
  transition:0.2s;
  
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  
}

.tabbable-line > .nav-tabs > li.active {
  border:none;
  position: relative;
  transition:0.2s;
  background:#ffff;
  border-radius:0px;
  
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  background:none;
  color:rgba(0,0,0,0.5);
  transition:0.2s;
 
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}

.nav-tabs > li, .nav-pills > li {   
    display:inline-block;
}
.nav-tabs {
    text-align:center;
}

.navbar .navbar-right{
    padding-right:0px;
	padding-top:3px;
	display: flex;
}
.navbar .navbar-right li {
	margin-right:0px;
	margin-left:8px;
	color: #fff;
	
}
.navbar .navbar-right .log i{
	color:#fff;
	font-size:16px;
	font-weight:100;
}
.navbar .navbar-right .log{
	
}
.navbar .navbar-right .log a:hover{
	color:var(--texthover);
	background: transparent;
}

.navbar .navbar-right .log a{
	margin-top:-5px;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	transition:all ease 0.3s;
}
.navbar .navbar-right .sign a{
	margin-top:5px;
	background:transparent;
    color: #fff;
	border-radius:100px;
	border:1px solid #fff;
	outline:none;
	font-size:12.8px;
	font-weight:500;
	box-shadow:none;
	padding: 5px 15px 6px;
	margin-bottom:-5px;
	transition:all ease 0.3s;
}
.navbar .navbar-right .sign a:hover{
	background:#fff;
	color:#000;
	
}
 
.navbar .navbar-right .anothericon{
	display: flex;
	gap:5px;
	margin-top: 8px;
	margin-left: 15px;
	position: relative;
}
.navbar .navbar-right .anothericon::after{
	content: "";
	position: absolute;
	width: 1px;
	height:22px;
	background: rgb(41, 40, 40);
	left: -3px;
	top: 1px;
}
.navbar .navbar-right .anothericon li a{
 text-decoration: none;
 color: #fff;
 padding-top:4px;
 padding-bottom:4px;

}
.navbar .navbar-right .anothericon li a i{
	font-size: 22px;
	transition: all 0.3 ease;
}
 
.navbar .navbar-right .anothericon li:hover a i{
  color: var(--texthover);
}
 
 


.sticyNavbar{
	background: rgb(255, 255, 255);
	z-index: 1000;
	padding: 15px 0px;
    border-bottom: 1px solid rgba(200,200,200,0.4);

}
.sticyNavbar h3,.sticyNavbar p{
	padding: 0px;
	margin: 0px;
}
.sticyNavbar h3{
	margin-top: -2px;
	font-size: 22px;
}
.sticyNavbar p{
	font-size: 18px;
	font-weight: 500;
}
.sticyNavbar p a{
	color: #000;
	text-decoration: none;
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}  
.sticky + .content {
	padding-top: 60px;
}
 



.section-1{
    padding-top:150px;
    padding-bottom:100px;
	background: #fff
} 
.section-1 .container{
	padding-left:0;
	padding-right:0;
}

 .section-1 .container h1 {
	color:#050505;
	font-size:54px;
	line-height:60px;
}
.section-1 .container h3 {
	font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    font-size:28px;
	color: hsla(0, 0%, 0%, 0.9);
	margin-top:30px;
	line-height:10px;
}
.section-1 .card{
	margin-top:100px;
}
.section-1 .card h4{
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 20px;
}
.section-1 .credit-cards{
	display: flex;
	gap: 15px;
}
.section-1 .credit-cards img{
	height: 30px;
}
.section-1 .credit-cards p{
	font-size: 20px;
	font-weight: 500;
}

.section-1 .get {
	margin-top:5px;
	background:rgba(255,255,255,0.7);
	color:rgba(62,131,255,0.7);
	border-radius:100px;
	border:none;
	outline:none;
	font-size:14px;
	font-weight:500;
	box-shadow:none;
	padding: 8px 25px 8px;
	margin-bottom:-5px;
	transition:all ease 0.2s;
}


.section-1 .jumbotron{
	padding: 0px 0px;
	margin: 0px;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 24px 64px rgba(0,0,0,.06), 0 2px 6px rgba(0,0,0,.08);
}
.section-1 .jumbotron .nav-tabs,.section-1 .jumbotron .nav-tabs li a,.section-1 .jumbotron .nav-tabs li.active a{
	border: none;
	font-size: 30px;
	font-weight: 700;
	border-radius: 0px;
	color: #000;
	
}
.section-1 .jumbotron .nav-tabs {
    overflow: hidden;
}
.section-1 .jumbotron .nav-tabs li.active a{
	background: #ffffff;

}
.section-1 .jumbotron .nav-tabs li:nth-of-type(1).active a:before {
	content: ' ';
	position: absolute;
	width: 30px;
	height: 110px;
	right: -20px;
	top: -10px;
	transform: rotate(-20deg);
	background: #ffffff;
	z-index: 100;
	border-top-right-radius: 100px;
	
  }
  .section-1 .jumbotron .nav-tabs li:nth-of-type(2).active a:before {
	content: ' ';
	position: absolute;
	width: 30px;
	height: 110px;
	left: -20px;
	top: -10px;
	transform: rotate(20deg);
	background: #ffffff;
	z-index: 100;
	border-top-left-radius: 100px;
	
  }
.section-1 .jumbotron .nav-tabs li a{
	padding: 18px 0px;
	background: #f2f2f2;
	
}
.section-1 .jumbotron .nav-tabs li:nth-of-type(1) a{
	border-bottom-right-radius:60px ;
}
.section-1 .jumbotron .nav-tabs li:nth-of-type(2) a{
	border-bottom-left-radius: 60px ;
}
.section-1 .jumbotron .tab-content{
	padding: 10px 20px;
	margin-top: 10px;
}









.section-1  .jumbotron .toper{
	margin-bottom:15px;
	margin-top: 20px;
}
.section-1 .jumbotron  .input-group{
   width: 140px;
}
.section-1 .jumbotron .input-group .btn-default{
	width:140px;
	height:60px;
	background:#f3f3f3;
	border:none;
	outline:none;
	font-weight:bold;
	padding-bottom:10px;
	box-shadow:none;
	font-size:25px;
	color:rgb(48, 48, 48);
   border-radius: 5px;
}
.section-1  .jumbotron .input-group{
	position: relative;
	width: 100%;
}
.section-1 .jumbotron .input-group .btn-default{
	position: absolute;
	right: 10px;
	top: 10px;
	display: block;
}
.section-1 .jumbotron .input-group .input-group-btn.b-1{
	width: 0px;

}

.section-1  .jumbotron .input-0{
	width: 100%;
	border-right:none;
	border:1px solid rgba(200,200,200,0.4);
	box-shadow:none;
	background: transparent;
	outline:none;
	height:80px;
	font-size:28px;
	padding-top: 30px;
	font-weight:bold;
    border-width: 1px;
    border-style: solid;
	padding-left:26px;
	border-radius: 10px;
	padding-right: 0px;
}
.section-1  .jumbotron .send {
    color: rgba(0,0,0,0.5);
    position: absolute;
    margin-top: -10px;
    z-index: 20;
    left: 26;
    font-size: 13px;
    top: 22px;
    font-weight: 500;
}





.section-1 .jumbotron .available{
	font-size: 16px;
	font-weight: 500;
	opacity: 0.6;
	margin-left: 20px;
}




.section-1 .jumbotron .btn-block{
	height: 70px;
	margin-top: 30px;
	background: #000;
	border-radius: 100px;
	font-size: 24px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 30px;
   outline: none;
   box-shadow: none;

}









@media screen and (max-width: 1012px) {
	.navbar{
	
	padding-left:0px;
	padding-right:0px;
	
	
}

}


@media (max-width: 992px) {
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
   
    border: none;
}
.navbar-header {
	float: none;
	border:none;
	border:0px solid red;
}
.navbar-left,.navbar-right {

}
.navbar-toggle {
	display: block;
}
.navbar .navbar-collapse {
	display:none;
	overflow-y: hidden;
}

.navbar-collapse.collapse {
	display: none !important;
}
.navbar-nav {
	float: none!important;
	margin-top: 7.5px;
}
.navbar-nav>li {
	float: none;
}
.navbar-nav>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
}
.collapse.in{
	display:block !important;
}
.navbar .navbar-toggle {
    border-color: none;
	border:0px  solid red;
	margin-top:0px;
	float:left;
	margin-left:10px;
}

.navbar .navbar-toggle .icon-bar {
    background-color: #fff;
	width: 32px;
    height: 1px;
	margin-top:8px;
}

.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
    background-color: transparent;
}
.navbar .navbar-toggle{
	border:none;
}
.navbar .navbar-collapse, .navbar .navbar-form {
    border-color: snow;
}
.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
    background-color: transparent;
}

.navbar .navbar-brand{
  transform: translateX(-50%);
  left: 50%;
  position: absolute;}

.tabbable-line{
	width: 141px;
}
.tabbable-line:after{
	display: none;
}
.navbar .navbar-right{
	display: block;
}
.navbar .navbar-right .sign{
 width: 93px;
}
.navbar .navbar-right .anothericon{
	margin-bottom: 15px;
}
.navbar .navbar-right .anothericon::after{
	display: none;
}
.navbar .navbar-right .sign,.navbar .navbar-right .log {
    margin-left: 0px !important;
}
.navbar .navbar-left li a{
	padding: 10px 10px;
}
.tabbable-line > .nav-tabs > li > a{
	line-height: 30px;
}
.navbar .navbar-brand {
	margin-top:-13px;
}


}
@media screen and (max-width: 768px) {



.section-1{
    padding-top:130px;
	padding-left:20px;
    padding-bottom:50px;
	
} 
}
@media screen and (max-width: 368px) {
	.section-1{
    padding-top:130px;
	padding-left:10px;
    padding-bottom:50px;
	
} 


 .section-1 .container h1 {
	color:#fff;
	font-size:44px;
	line-height:45px;
}
.section-1 .container h3 {
	 margin-top:30px;
    font-size:18px;
	    color: hsla(0,0%,100%,.7);
	line-height:25px;
}

}




